button {
    padding: 1em;
    margin: 0 1em 0 1em;
   
    
    border-radius: 30px/ 50px;
    border: none;

    backdrop-filter: blur(10px); 
    background:transparent;
    
}

button:hover{
    background: rgba(13, 115, 231, 0.1);
}

